# ===========================================================
# Environment Config
# ===========================================================
configLocal.js

# System / editor noise
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
node_modules/