.videoContainer-generator {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.videoBackground-generator {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.generator-main-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.generator-heading {
    font-weight: 900;
    background-color: #ff4133;
    color: rgb(249, 249, 249);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: clamp(2rem, 8vw, 4rem);
    display: inline-block;
    padding: 0 0.3em;
}

.generator-subheading {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.75rem, 2vw, 1rem);
    font-weight: 500;
}

.shuffle-button {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.img-container-generator {
    position: relative;
    display: inline-block;
    margin: 1.05vw;
    width: 40vw;
    height: 60vw;
    max-width: 350px;
    max-height: 500px;
    border: 3px solid rgb(61, 61, 61);
    border-radius: 12px;
}

.topImg,
.botImg,
.topImgHover,
.botImgHover {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.topImgHover,
.botImgHover {
    display: none;
}

.img-container-generator:hover .topImg,
.img-container-generator:hover .botImg {
    display: none;
}

.img-container-generator:hover .topImgHover,
.img-container-generator:hover .botImgHover {
    display: block;
}

.shuffleButton {
    height: 48px;
    transition: transform 0.3s ease;
}

.shuffleButton:hover {
    transform: scale(1.5);
}

@media (min-height: 550px) and (max-height: 570px) {
  .img-container-generator {
    width: 40vw;
    height: 50vw;
  }
}

@media (min-height: 600px) and (max-height: 610px) {
  .img-container-generator {
    width: 20vw;
    height: 30vw;
  }
}